body{
    overflow-x: hidden;
}
.card-image img{
    width: 13em;
    border-radius: 50%;
}

* {
    box-sizing: border-box;
}


/* Style the container/contact section */
.contactpanel{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: no-wrap;
}
.contact{
    text-align:center;
    padding:20px;
}
.contact > img{
    width:300px;
    border-radius:300px;
}

