body{
    overflow-x: hidden;
}

 
.track1{
    background: url('../assets/track1Head.jpg');
    background-size: cover;
}
.track2{
    background: url('../assets/track2Head1.jpeg');
    background-size: cover;
}
.track3{
    background: url('../assets/Judiciary.jpg');
    background-size: cover;
}
.track4{
    background: url('../assets/track4Head.jpg');
    background-size: cover;
}
.track5{
    background: url('../assets/track5Head.jpg');
    background-size: cover;
}
.track6{
    background: url('../assets/track6head.jpg');
    background-size: cover;
}




.headingDetails{
    /* background-color: teal; */
    /* position: absolute; */
    height: 100%;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-rows: 30% 10% 30% 5%;
    grid-template-columns: auto;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
}


.trackLogo{
    font-size: 20px;
}

.trackKochi{
    font-size: 18px;
}

.trackHead{
    font-size: 4em;
}
.track3Head{
    font-size: 3em;
}

.trackDesc{
    font-size: 20px;
}
.track3box{
    background: rgb(23, 23, 65);
    opacity: 0.8;
}










/* BIG DESCRIPTION */
.aboutTrack{
    position: relative;
    height: auto;
    width: 100vw;
    /* background-color: teal; */
    margin-bottom: 2em;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutTrack > div{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    padding: 3em;
    padding-top: 2em;
    color: gray;
    text-align: center;
}

.aboutTrack > div > h3{
    margin-bottom: 1em;
    color: tomato;
}
.aboutTrack > div > p{
    font-size: 20px;
}






/* EXTRA DIV */
.extraDiv{
    height: 50vh;
    width: 100vw;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}








/* SPEAKER PANEL */
.speakerPanel{
    margin-bottom: 4em;
    position: relative;
    /* background-color: teal; */
    height: auto;
    width: 100vw;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.speakerPanel > div{
    height: auto;
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
    /*color: gray;
    padding: 1em;*/
    display: grid;
    grid-template-columns: auto;
}
.speakerPanel > h3{
    color: tomato;
    font-size: 4em;
}

.speakerPanelDouble{
    margin-bottom: 4em;
    position: relative;
    /* background-color: teal; */
    height: auto;
    width: 100vw;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.speakerPanelDouble > div{
    height: auto;
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
    /*color: gray;
    padding: 1em;*/
    display: grid;
    grid-template-columns: auto auto;
}
.speakerPanelDouble > h3{
    color: tomato;
    font-size: 4em;
}


.speakers{
    /* background-color: tomato; */
    height: 100%;
    width: 100%;
    /*display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40% 60%;*/
}

.speakerImage > img{
    background-size: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.speakerDetails{
    /* background-color: brown; */
    text-align: center;
}

.speakerName{
    font-size: 3em;
}

.speakerDesig{
    font-size: 20px;
}


/* iphone 6s and 6s+*/

@media only screen and (max-width: 420px) {

    .trackHead {
        font-size: 3em;
    }
    

    .speakerPanel > h3 {
        color: tomato;
        font-size: 2.5em;
    }
    .speakerImage > img {
        width: 180px;
        height: 180px;
    }
    .speakerName {
        font-size: 2em;
    }
    .speakerDesig {
        font-size: 15px;
    }
    .aboutTrack {
        padding: 0px;
    }
    .speakerPanelDouble > div {
        height: auto;
        width: 100%;
        /* background-color: yellow; */
        text-align: center;
        /* color: gray; */
        /* padding: 1em; */
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
    }
}
/* iphone se*/
@media only screen and (max-width: 320px) {
    .track3Head{
        font-size: 2.6em;
    }
    .trackKochi {
        font-size: 15px;
    }
    .trackHead {
        font-size: 2.4em;
    }
    .trackDesc {
        font-size: 15px;
        padding-top: 50px;
    }
    h3 {
        font-size: 2.4em;
        line-height: 110%;
        margin: 1.9466666667rem 0 1.168rem 0;
    }
    .aboutTrack {
        padding: 0px;
    }
   
}

/*ipad potrait grids*/

@media only screen and (max-width: 805px) {
 
}




